  .dialog{
    position: fixed;
    background: #fff;
    z-index: 9999;
    left: 50%;
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .dialog-masklayer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: #000;
    opacity: 0.8;
  }
 .dialog-header{background:#fac530}
 .dialog-header h2 {
    height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	}
 .dialog-close{
	right: 16px;
	top: 16px;
	width: 22px;
	height: 22px;
	background: url(/static/image/icon/icon_close.png) no-repeat;
	display: inline-block;
	position:absolute;
}
.dialog-close-black{
	background: url(/static/image/icon/icon-close-black.png) no-repeat;
}
.dialog-body{background: #fff}

.dialog-opare{
padding-top: 10px;
background: #ffffff;
padding-bottom: 10px;
}

/*******************************************them(dialog-shadow)*********************************/
.dialog.dialog-shadow{
		-moz-box-shadow: 0 10px 10px #ccc;
		-webkit-box-shadow: 0 10px 10px #ccc;
		box-shadow: 0px 10px 10px #ccc;
	}
.dialog-masklayer.dialog-shadow{
	background: rgb(255,255,255);
}
/*******************************************third*********************************/
.dialog-footer .win-third-login{
	  padding: 0 15px 20px 15px;
}
.dialog-footer .win-third-login span{
	  color:#787d82;
}
.dialog-footer .a-third-item{
	  font-size:14px;
	  margin-left:20px;
	  height:20px;
	  line-height:20px;
	  color:#c8cdd2
}
.dialog-footer a.a-third-item:hover{
	color: #787d82;
}
.dialog-footer .a-third-item i{
	  margin-right:6px;
	  float:left;
}
/* .dialog-footer .a-third-item .icon-third-qq{
	  background : url('/static/image/icon/userCenter/icon-qq.png') no-repeat;
	  width:20px;
	  height:20px;
	  display: inline-block;
	  background-size:20px;
} */