@import "/static/css/lib/jqueryPlugs/organStructrureTree.css";
#J-tree-panel{
	
}
.right-panel{
	min-height:500px;
	border-left:1px solid #ccc;
	overflow-x:auto;
}

div.tree{
	width:10000px;

	height:500px;

}