#wrapper{
    width: 960px;
    margin:  10px  auto 0 auto;
    overflow: hidden;
    background: #fff;
    padding: 10px;

}
#title{
    color:#434343;
    line-height: 25px;
    font-size: 20px;
    padding-bottom: 10px;
}
.food-wrap{
    width: 720px;
    height: auto;
    overflow: hidden;
    float: left;
    border: 1px solid #ebebeb;
}

.food-wrap .food-item{
    height: 250px;
    /*border-right: 1px solid #ebebeb;*/
    border-top: 1px solid #ebebeb;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    width: 179px;
    float: left;
}
.food-item .food-img{
    height: 160px;
    width: 160px;
    margin: 10px;

}
.food-wrap .food-item-first{
    border-left: none;
}
.food-wrap .food-item-last{
    border-right: 1px solid #ebebeb;
}
.food-item:hover{
    background-color: #fff5f4;
}
.food-item span{
    display: block;
    text-align: center;
}
.food-item .food-name{
    width: 160px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;

}
.food-name span{
    display: inline;
    font-weight: bold;
}
.food-item .food-price{
    margin-top:10px;
}
.food-price span{
    font-size: 22px;
    color: #fac530;
    display: inline;
    margin-right: 5px;
}
.broadcaster{
    width:210px;
    float: left;
    margin-left: 5px;
}
.broadcaster .title{
    height: 30px;
    background-color: #f4f5f7;
    line-height: 30px;
    padding-left: 12px;
    font-size: 16px;
}
.broadcaster .content{
    border: 1px solid #ebebeb;
    border-top: 0;
    padding: 12px;
    line-height: 21px;
    word-wrap: break-word;
    font-size: 14px;
}
#title .cost{
	font-size:14px;
	margin-left:10px;
}
#title .btn-order{
	background:#fac530;
	display:inline-block;
	color:#fff;
	font-size:14px;
	width:70px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-left:100px;
	text-decoration:none;
}
.cost span{
    font-size: 22px;
    color: #fac530;
    display: inline;
    margin:0 5px;
}

/**学校弹出框**/
#school-dialog{
	width:300px;
	overflow:hidden;
	padding:0px 0 20px 0;
	text-align:center;
}
#school-dialog a{
	display:block;
	float:left;
	width:30%;
	margin-left:10%;
	margin-top:20px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fac530;
}
